/* Main Page Style */

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color: #f0eeee;
    color: #232323;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.container {
    font-size: 4rem;
    max-width: 100%;
    width: 80%;
    padding: 10px;
    margin: 30px auto;
    color: #3f3d3d;
}

#greeting {
    color: #e25656;
    padding: 0 30px 0 0;
}

#greeting:hover {
    transition-duration: 400ms;
    color: inherit;
}

#heading {
    margin: 0;
    padding: 5px 0px;
}

#content {
    font-size: 3rem;
    line-height: 1.5em;
    margin-top: 16px;
}

#links {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#links li {
    display: inline-block;
    text-align: center;
    background-color: #fcfafa;
    padding: 14px 0px;
    border-radius: 40px;
    /* box-shadow: 0px 0px 15px 0px rgba(190, 190, 190, 0.63); */
}

#links li a {
    text-decoration: none;
    width: 32%;
    padding: 30px;
    color: #e25656;
    font-size: 2.3rem;
    transition-duration: 300ms;
}

#links li a:hover {
    color: #3f3d3d;
}