/* Main Page Style */

* {
    box-sizing: border-box;
}

body, html {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

body {
    background-color: #f0eeee;
    color: #232323;
    width: 100%;
    margin: 0 auto;
}

.container {
    font-size: 4rem;
    max-width: 100%;
    width: 80%;
    padding: 10px;
    margin: 30px auto;
    color: #3f3d3d;
}

#greeting {
    color: #e25656;
    padding: 0 30px 0 0;
}

#greeting:hover {
    transition-duration: 400ms;
    color: inherit;
}

#heading {
    margin: 0;
    padding: 5px 0px;
}

#content {
    font-size: 3rem;
    line-height: 1.5em;
    margin-top: 16px;
}

#links {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#links li {
    display: inline-block;
}
  
#links li a {
    text-decoration: none;
    background-color: #fcfafa;
    outline: none;
    text-align: center;
    width: 32%;
    padding: 14px 24px;
    border-radius: 40px;
    color: #e25656;
    font-size: 2rem;
    transition-duration: 300ms;
    box-shadow: 0px 3px 10px rgba(30,30,30,.1);
}

#links li a:hover {
    color: #3f3d3d;
    background: #fefefe;
    box-shadow: 0px 5px 10px rgba(30,30,30,.15);
}

.blogs {
    font-size: 1.6rem;
    width: 100%;
    box-shadow: 0px 3px 10px rgba(30,30,30,.2);
    background: #fcfafa;
    padding: 15px 25px;
    line-height: 1.8em;
    margin-top: 75px;
    border-bottom: 5px solid #e25656;
    border-radius: 15px;
}

.blogs:hover {
  background: #fefdff;
  box-shadow: 0px 5px 10px rgba(30,30,30,.35);
  transition-duration: .4s;
}

.blogs > h2 > a {
  text-decoration: none;
  color: #2e2c2c;
  font-weight: lighter;
  line-height: 
}

.blogs > h2 > a:hover {
  text-decoration: underline;
  color: #2e2c2c;
}

.blogs > .lead {
    line-height: 1.6em;
}
.blogs > .timestamp {
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 1.2rem;
    text-decoration: underline;
}

/* Responsive styles */

@media only screen and (max-width: 400px) {
    .container {
      width: 100%;
      font-size: 2.5rem;
    }
    #greeting {
      display: block;
      padding: 0px 0px 10px;
    }
    #content {
      font-size: 1.9rem;
    }
    #links {
      margin-bottom: 20px;
    }
    #links li {
      margin: 0px 0 1rem;
    }
    #links li a {
      font-size: 1.3rem;
      padding: 12px 26px;
    }
    .blogs {
      font-size: 1.1rem;
      box-shadow: 0px 3px 10px rgba(30,30,30,.2);
      padding: 15px 10px;
      margin-top: 25px;
    }
    .blogs > h2 {
      margin-top: 0;
    }
    .blogs > .lead {
      line-height: 1.6em;
    }
    .blogs > .timestamp {
      padding: 0;
      margin: 0;
      text-align: right;
      font-size: 0.9rem;
    }
    
  }
  
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .container {
      width: 90%;
      font-size: 2.5rem;
    }
    #content {
      font-size: 1.9rem;
    }
    #links li {
      margin: 0px 0 3.4rem;
    }
    #links li a {
      font-size: 1.5rem;
    }
    .blogs {
      font-size: 1.2rem;
      box-shadow: 0px 3px 10px rgba(30,30,30,.2);
      padding: 15px 20px;
      margin-top: 25px;
    }
  }